<div class="header-bottom" style="text-align: center;">
    <p style="margin-top: 30px;" class="p1">O компании</p>
    <h1 style="font-weight: 500;margin-top: 30px;" class="h11"><span style="color: blue;">HTL</span> — Российская компания </h1>
    <h1 style="font-weight: 500;width: 70%;margin: 0 auto;" class="h12">по производству светодиодного освещения, Эксперт  в области интерьерного и уличного освещения</h1>
    <p style="margin: 0 auto;margin-top: 30px;width: 50%;" class="p2">Создаём современное высококачественное светотехническое оборудование и отдельные комплектующих для освещения интерьеров жилых и коммерческих помещений</p>
    <a href="">
        <p style="margin-top: 70px;margin-bottom: 70px;">O компании <span style="background-color: blue;border-radius: 50%;"><svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" style="display: inline;">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
          </svg>
          </span></p>
    </a>
</div>