.p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    padding-bottom: 30%;
    margin: 10%;
    display: flex;
}